.image-cropper-container {
  user-select: none;
}

.image-cropper-container::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #dcdfe6;
  opacity: 0.8;
}

.image-cropper-source {
  position: absolute;
  transform-origin: left top;
}

.fcd-lower-image {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  object-fit: fill;
}

.fcc-upper-box {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  transform-origin: left top;
}

.fcc-upper-box::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  outline: 2px solid tomato;
}

.ra-corner {
  position: absolute;
}

.md-corner {
  position: absolute;
  width: 18px;
  height: 8px;

  background-color: #fff;
  box-shadow: inset 0 0 0 1px rgba(37, 43, 49, 0.25);
  border-radius: 10px;
  transform-origin: center center;
}

.image-cropper-crop {
  position: absolute;
  transform-origin: left top;
}

.fcc-lower-box {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.lower-crop-image {
  position: absolute;
}
